/***** Base settings ******/

::-moz-selection {
  color: #fff;
  background: $primary;
}

::selection {
  color: #fff;
  background: $primary;
}

* {
  -webkit-text-size-adjust: none;
  font-size-adjust: none;
}

body {
  font: 16px/1.5 $base-font;
  font-weight: 400;
  color: $grigio-scuro;
  margin: 0;
  background: #fff;
  @media($sm) {
    font-size: 15px;
  }
  @media($xs) {
    font-size: 13px;
  }
}

a {
  color: $primary;
  text-decoration: none;
  @include transitions;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin: 0 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $base-font;
  letter-spacing: 0;
  color: $grigio-medio;
  line-height: 1.1;
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 700;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.15em;
}

h5 {
  font-size: 1.05em;
}


ul {
  list-style: inside none disc;
  padding-left: 0.5em;
}

li {
  list-style-position: inside;
}

ul ul, ol ol {
  padding-top: 0;
}

.node ol, .node ul {
  padding-left: 0;
}

img, video, svg {
  @include responsive;
}

.sidebar .block h2{
  font-size: 1.25em;
}