/***** Form Misc *****/

.form-item, .form-actions{
  margin:1em 0;
}

.form--inline {
  .form-item, .form-actions {
    float: left;
    margin-right: 0.5em;
  }
}

textarea, select, input[type="date"],
input[type="datetime"], input[type="datetime-local"],
input[type="email"], input[type="month"],
input[type="number"], input[type="password"],
input[type="search"], input[type="tel"],
input[type="text"], input[type="time"],
input[type="url"], input[type="week"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: auto;
  max-width: 100%;
  padding: 0.5em 1em;
  box-sizing: border-box;
  border: 1px solid $grigio-medio;
  background:#fff;
  border-radius:4px;
  box-shadow:none;
  color: $grigio-medio;
  font-family: $base-font;
  font-size: 0.75em;
  line-height: 1.25em;
  font-weight:400;
  @include transitions;
    &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &:input-placeholder{
      color: $grigio-chiaro;
    }
}

textarea{
  resize:none;
}

.form-item .description {
  font-size: 0.75em;
  margin-top: 3px;
  padding-left:2px;
  color:$grigio-chiaro
}

button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  box-shadow: none;
  border-color: $grigio-scuro;
  z-index: 1;
}

button, input[type="reset"], input[type="submit"], input[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.75em 1.5em;
  text-shadow:none;
  background:none;
  border-radius:0;
  background-color:$primary;
  border:none;
  color:#fff;
  font-size:1em;
  font-family:$base-font;
  @include transitions;
  cursor:pointer;
}

.form-actions input:hover, input.form-submit:hover {
  background: none repeat scroll 0 0 $primary;
  color: #fff;
}

label.option{
 font-size: 0.85em;
}

