/***** Override Vendor Css ******/


//Swiper

.page .swiper-pagination-bullet{
  margin: 0 12px;
  width: 12px;
  height: 12px;
  opacity: 1;
  background: white;
  @include transitions;
  opacity: 0.5;
    &-active{
      opacity: 1;
    }
}