/*** Griglia blocchi paragraphs ****/

.par-grid-blocks{
  margin-top: 4em;
  margin-bottom:4em;
    &__intro{
      margin-bottom: 1em;
    }
    .grid-item__swiper{
      margin-bottom: 1em;
    }
}