/*** Testo su background paragraphs ****/

.par-text-bg{
  margin-top: 4em;
  margin-bottom:4em;
  position: relative;
    &__content{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
      color: white;
      z-index: 5;
        h2{
          color: white;
          font-size: 2.25em;
        }
    }
    &__bg{
        &:after{
          content: "";
          position: absolute;
          left: 15px;
          top: 0;
          width: calc(100% - 30px);
          height: 100%;
          background: rgba(#000,0.4);
          z-index: 4;
        }
    }
    &_full{
      margin-left: -15%;
      margin-right: -15%;
      background: #000;
    }
    &:last-child{
      padding-bottom: 0;
      margin-bottom: 0;
    }
}