//RESPONSIVE IMAGE
@mixin responsive{
  max-width:100%;
  height:auto;
  display:block;
}

//TRANSITIONS
@mixin transitions($prop:all, $sec:0.35s, $func:ease, $del:0s){
  transition: $prop $sec $func $del;
}

//HIDE & SHOW
@mixin hide{
  opacity:0;
  visibility:hidden;
}
@mixin show{
  opacity:1;
  visibility:visible;
}

//Clearfix
@mixin clearfix{
  &:after{
    content: "";
    clear: both;
    display: block;
  }
}

//ROLLHOVER TRANSFORMS IMG
@mixin transImg($val...){
  overflow:hidden;
  position:relative;
  z-index:1;
    img{
      @include transitions($sec:0.7s);
      @include responsive;
    }
    &:hover img{
     transform:$val;
    }
}

//Link Animation Underline
@mixin underLink($color:$primary){
  position:relative;
  &:after{
    content: "";
    position: absolute;
    bottom: -0.5em;
    width: 100%;
    height: 2px;
    background: $color;
    left: 0;
    transform: scaleX(0);
    @include transitions($prop:transform);
    transform-origin: right center;
  }
  &:hover:after{
    transform: scaleX(1);
    transform-origin: left center;
  }
}

//FLEXBOX
@mixin flexbox($align:unset, $justify:unset, $direction:unset, $wrap:unset){
  display:flex;
  align-items:$align;
  justify-content:$justify;
  flex-direction:$direction;
  flex-wrap:$wrap;
}