//COLORI
$grigio-medio: #575756;
$grigio-chiaro: #d7d7d7;
$grigio-scuro:#020202;

$primary: #8F1120;
$secondary: #023F5C;

//FONTS
$base-font:'Open Sans', sans-serif;

//DEVICES
$xs: "max-width:576px";
$sm: "max-width:768px";
$md: "max-width:992px";
$lg: "max-width:1200px";


