{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{%
  set page_classes = [
    'page',
    node ? 'node-' ~ node.id,
  ]
%}
<div{{ attributes.addClass(page_classes) }}>

  {% if page.top_bar %}
  <section class="section section_top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{ page.top_bar }}
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  <section class="section section_branding">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-8 col-md-3">
          {{ page.logo }}
        </div>
        <div class="col-4 col-md-9 ">
          {{ page.menu }}
        </div>
      </div>
    </div>
  </section>

  {% if page.header %}
  <header class="section section_header">
    {{ page.header }}
  </header>
  {% endif %}

  {% if page.preface %}
  <section class="section section_preface">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        {{ page.preface }}
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  <section class="section section_main">
    <div class="container">
      <div class="row">
        {% if page.sidebar_left %}
          <aside class="sidebar col-md-3 col-12 sidebar_left">
            {{ page.sidebar_left }}
          </aside>
        {% endif %}
        {% if page.sidebar_left or page.sidebar_right %}
          <div class="content col-md-9 col-12">
            {{ page.content }}
          </div>
        {% elseif page.sidebar_left and page.sidebar_right %}
          <div class="content col-md-6 col-12">
            {{ page.content }}
          </div>
        {% else %}
          <div class="content col-md-12">
            {{ page.content }}
          </div>
        {% endif %}
        {% if page.sidebar_right %}
          <aside class="sidebar col-md-3 col-12 sidebar_right">
            {{ page.sidebar_right }}
          </aside>
        {% endif %}
      </div>
    </div>
  </section>

  {% if page.postscript %}
    <section class="section section_postscript">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          {{ page.postscript }}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  <footer class="section section_footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        {{ page.footer }}
        </div>
      </div>
    </div>
  </footer>

</div>
