@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
/***** Base settings ******/
::-moz-selection {
  color: #fff;
  background: #8F1120; }

::selection {
  color: #fff;
  background: #8F1120; }

* {
  -webkit-text-size-adjust: none;
  font-size-adjust: none; }

body {
  font: 16px/1.5 "Open Sans", sans-serif;
  font-weight: 400;
  color: #020202;
  margin: 0;
  background: #fff; }
  @media (max-width: 768px) {
    body {
      font-size: 15px; } }
  @media (max-width: 576px) {
    body {
      font-size: 13px; } }

a {
  color: #8F1120;
  text-decoration: none;
  -webkit-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s; }

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin: 0 0 1em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
  color: #575756;
  line-height: 1.1;
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 700; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 1.15em; }

h5 {
  font-size: 1.05em; }

ul {
  list-style: inside none disc;
  padding-left: 0.5em; }

li {
  list-style-position: inside; }

ul ul, ol ol {
  padding-top: 0; }

.node ol, .node ul {
  padding-left: 0; }

img, video, svg {
  max-width: 100%;
  height: auto;
  display: block; }

.sidebar .block h2 {
  font-size: 1.25em; }

/***** Form Misc *****/
.form-item, .form-actions {
  margin: 1em 0; }

.form--inline .form-item, .form--inline .form-actions {
  float: left;
  margin-right: 0.5em; }

textarea, select, input[type="date"],
input[type="datetime"], input[type="datetime-local"],
input[type="email"], input[type="month"],
input[type="number"], input[type="password"],
input[type="search"], input[type="tel"],
input[type="text"], input[type="time"],
input[type="url"], input[type="week"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: auto;
  max-width: 100%;
  padding: 0.5em 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #575756;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #575756;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75em;
  line-height: 1.25em;
  font-weight: 400;
  -webkit-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s; }
  textarea::-webkit-input-placeholder, textarea:-ms-input-placeholder, textarea::-ms-input-placeholder, textarea:input-placeholder, select::-webkit-input-placeholder, select:-ms-input-placeholder, select::-ms-input-placeholder, select:input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="date"]::-ms-input-placeholder, input[type="date"]:input-placeholder,
  input[type="datetime"]::-webkit-input-placeholder,
  input[type="datetime"]:-ms-input-placeholder,
  input[type="datetime"]::-ms-input-placeholder,
  input[type="datetime"]:input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="datetime-local"]::-ms-input-placeholder, input[type="datetime-local"]:input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="email"]:-ms-input-placeholder,
  input[type="email"]::-ms-input-placeholder,
  input[type="email"]:input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="month"]::-ms-input-placeholder, input[type="month"]:input-placeholder,
  input[type="number"]::-webkit-input-placeholder,
  input[type="number"]:-ms-input-placeholder,
  input[type="number"]::-ms-input-placeholder,
  input[type="number"]:input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="password"]::-ms-input-placeholder, input[type="password"]:input-placeholder,
  input[type="search"]::-webkit-input-placeholder,
  input[type="search"]:-ms-input-placeholder,
  input[type="search"]::-ms-input-placeholder,
  input[type="search"]:input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="tel"]::-ms-input-placeholder, input[type="tel"]:input-placeholder,
  input[type="text"]::-webkit-input-placeholder,
  input[type="text"]:-ms-input-placeholder,
  input[type="text"]::-ms-input-placeholder,
  input[type="text"]:input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="time"]::-ms-input-placeholder, input[type="time"]:input-placeholder,
  input[type="url"]::-webkit-input-placeholder,
  input[type="url"]:-ms-input-placeholder,
  input[type="url"]::-ms-input-placeholder,
  input[type="url"]:input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="week"]:-ms-input-placeholder, input[type="week"]::-ms-input-placeholder, input[type="week"]:input-placeholder {
    color: #d7d7d7; }

textarea {
  resize: none; }

.form-item .description {
  font-size: 0.75em;
  margin-top: 3px;
  padding-left: 2px;
  color: #d7d7d7; }

button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #020202;
  z-index: 1; }

button, input[type="reset"], input[type="submit"], input[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.75em 1.5em;
  text-shadow: none;
  background: none;
  border-radius: 0;
  background-color: #8F1120;
  border: none;
  color: #fff;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
  cursor: pointer; }

.form-actions input:hover, input.form-submit:hover {
  background: none repeat scroll 0 0 #8F1120;
  color: #fff; }

label.option {
  font-size: 0.85em; }

/***** Override Vendor Css ******/
.page .swiper-pagination-bullet {
  margin: 0 12px;
  width: 12px;
  height: 12px;
  opacity: 1;
  background: white;
  -webkit-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
  opacity: 0.5; }
  .page .swiper-pagination-bullet-active {
    opacity: 1; }
