/***** Tabs *****/
.tabs {
  margin: 0; }
  .tabs ul {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #d7d7d7;
    font-size: 0.9em; }
  .tabs li {
    display: inline-block;
    margin: 0 5px;
    border-top: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7; }
  .tabs a {
    display: block;
    padding: 5px 10px;
    background: #d7d7d7;
    color: #8F1120; }
    .tabs a.is-active {
      background: #fff;
      border-bottom: 1px solid #d7d7d7;
      margin-bottom: -1px; }

/***** Main Menu *****/
#superfish-main {
  float: right; }
  #superfish-main .sf-depth-1 {
    margin-left: 2em; }
    #superfish-main .sf-depth-1 > a {
      padding: 0;
      font-weight: 600;
      color: #020202;
      position: relative; }
      #superfish-main .sf-depth-1 > a:after {
        content: "";
        position: absolute;
        bottom: -0.5em;
        width: 100%;
        height: 2px;
        background: #8F1120;
        left: 0;
        -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transition: -webkit-transform 0.35s ease 0s;
        transition: -webkit-transform 0.35s ease 0s;
        -o-transition: transform 0.35s ease 0s;
        transition: transform 0.35s ease 0s;
        transition: transform 0.35s ease 0s, -webkit-transform 0.35s ease 0s;
        -webkit-transform-origin: right center;
            -ms-transform-origin: right center;
                transform-origin: right center; }
      #superfish-main .sf-depth-1 > a:hover:after {
        -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-transform-origin: left center;
            -ms-transform-origin: left center;
                transform-origin: left center; }
      #superfish-main .sf-depth-1 > a:hover {
        color: #8F1120; }
    #superfish-main .sf-depth-1 ul {
      background: #fff; }

#superfish-main-toggle {
  height: 24px;
  width: 32px;
  display: block;
  position: relative;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  -ms-flex-wrap: unset;
      flex-wrap: unset;
  z-index: 50; }
  #superfish-main-toggle span {
    display: block;
    width: 100%;
    height: 3px;
    background: #020202;
    overflow: hidden;
    text-indent: -9999px;
    -webkit-transition: all 0.35s ease 0s;
    -o-transition: all 0.35s ease 0s;
    transition: all 0.35s ease 0s; }
  #superfish-main-toggle:after, #superfish-main-toggle:before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #020202;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.35s ease 0s;
    -o-transition: all 0.35s ease 0s;
    transition: all 0.35s ease 0s; }
  #superfish-main-toggle:before {
    top: 0; }
  #superfish-main-toggle:after {
    bottom: 0; }
  #superfish-main-toggle.sf-expanded span {
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0); }
  #superfish-main-toggle.sf-expanded:before {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    top: 50%;
    margin-top: -1.5px; }
  #superfish-main-toggle.sf-expanded:after {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
    bottom: 50%;
    margin-bottom: -1.5px; }

#superfish-main-accordion {
  position: fixed !important;
  z-index: 49;
  left: 0 !important;
  top: 0 !important;
  background: white !important;
  width: 100% !important;
  height: 100vh !important;
  clip: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: unset;
      flex-wrap: unset;
  -webkit-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
  opacity: 0;
  visibility: hidden; }
  #superfish-main-accordion.sf-expanded {
    opacity: 1;
    visibility: visible; }
  #superfish-main-accordion a {
    font-size: 3em;
    padding: 30px; }

/****** Breadcrumb *******/
/***** Buttons *****/
.button {
  display: inline-block;
  padding: 0.75em 2.5em;
  font-weight: 700;
  text-transform: uppercase; }
  .button_primary {
    background: #8F1120;
    color: white; }
    .button_primary:hover {
      background: #610c16; }
  .button_secondary {
    background: #023F5C;
    color: white; }
    .button_secondary:hover {
      background: #011d2a; }
  .button_outline-primary {
    color: #8F1120;
    border: 2px solid #8F1120; }
    .button_outline-primary:hover {
      background: #8F1120;
      color: white; }
  .button_outline-secondary {
    color: #023F5C;
    border: 2px solid #023F5C; }
    .button_outline-secondary:hover {
      background: #023F5C;
      color: white; }

/****** Footer *******/
.section_footer {
  background: #020202;
  color: #a4a4a2; }

.footer {
  line-height: 2em; }
  .footer ul {
    padding: 0;
    margin: 0; }
    .footer ul li {
      list-style: none; }
  .footer p {
    margin: 0; }
  .footer a {
    color: white; }
    .footer a:hover {
      color: #8F1120; }
  .footer > div {
    min-height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: unset;
        flex-wrap: unset; }

/**** Ricerca ****/
/**** Cookie ****/
/****** Pager *******/
/***** Fixed Branding Top *****/
.not-logged-in .section_header {
  margin-top: 90px; }

.section_branding .row {
  height: 90px;
  -webkit-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s; }

.logo-text {
  -webkit-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s; }

.logo {
  max-width: 180px;
  -webkit-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s; }

.not-logged-in .section_branding {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 11;
  background: white;
  -webkit-transition: all 0.35s ease 0s;
  -o-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s; }
  .not-logged-in .section_branding.is-scrolling {
    background: rgba(255, 255, 255, 0.7); }
    .not-logged-in .section_branding.is-scrolling .row {
      height: 70px; }

/******** Header slideshow *******/
.header-slide {
  position: relative; }
  .header-slide__img {
    background: #000; }
    .header-slide__img img {
      opacity: 0.75; }
  .header-slide__content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    width: 80%; }
    .header-slide__content h2 {
      font-size: 3em;
      color: white;
      margin-bottom: 0.25em; }
      @media (max-width: 576px) {
        .header-slide__content h2 {
          font-size: 2em; } }
  .header-slide__text {
    font-size: 1.25em;
    color: white;
    max-width: 750px;
    margin: auto; }
    @media (max-width: 576px) {
      .header-slide__text {
        font-size: 1em; } }

/*** Testo e immagini paragraphs ****/
.par-text-image {
  margin-top: 4em;
  margin-bottom: 4em; }

/*** Testo su background paragraphs ****/
.par-text-bg {
  margin-top: 4em;
  margin-bottom: 4em;
  position: relative; }
  .par-text-bg__content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: white;
    z-index: 5; }
    .par-text-bg__content h2 {
      color: white;
      font-size: 2.25em; }
  .par-text-bg__bg:after {
    content: "";
    position: absolute;
    left: 15px;
    top: 0;
    width: calc(100% - 30px);
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 4; }
  .par-text-bg_full {
    margin-left: -15%;
    margin-right: -15%;
    background: #000; }
  .par-text-bg:last-child {
    padding-bottom: 0;
    margin-bottom: 0; }

/*** Griglia blocchi paragraphs ****/
.par-grid-blocks {
  margin-top: 4em;
  margin-bottom: 4em; }
  .par-grid-blocks__intro {
    margin-bottom: 1em; }
  .par-grid-blocks .grid-item__swiper {
    margin-bottom: 1em; }
