{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    configuration.label ? 'block-' ~ configuration.label|clean_class,
  ]
%}
<div{{ attributes.addClass(classes).removeAttribute('id') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }} 
  {% endblock %}
</div>
