{#
/**
 * @file
 * Theme override for logo.
 */
#}

<div class="footer row">
    <div class="footer__branding col-12 col-md-3">
        <div class="footer-logo">
            <a href="{{ base_path }}">
                <svg width="188px" height="42px" viewBox="0 0 188 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g class="logo-icon" transform="translate(1.000000, 1.000000)" stroke-width="2">
                            <circle id="Oval" stroke="#fff" cx="20" cy="20" r="20"></circle>
                            <circle id="Oval" stroke="#fff" cx="20" cy="20" r="11"></circle>
                        </g>
                        <path d="M55.5234375,26.6015625 L53.1015625,26.6015625 L53.1015625,17.1953125 L50,17.1953125 L50,15.1796875 L58.625,15.1796875 L58.625,17.1953125 L55.5234375,17.1953125 L55.5234375,26.6015625 Z M69.7421875,26.6015625 L67.328125,26.6015625 L67.328125,21.671875 L62.8046875,21.671875 L62.8046875,26.6015625 L60.3828125,26.6015625 L60.3828125,15.1796875 L62.8046875,15.1796875 L62.8046875,19.65625 L67.328125,19.65625 L67.328125,15.1796875 L69.7421875,15.1796875 L69.7421875,26.6015625 Z M72.625,26.6015625 L72.625,15.1796875 L75.046875,15.1796875 L75.046875,26.6015625 L72.625,26.6015625 Z M84.6640625,23.4296875 C84.6640625,24.4609427 84.2929725,25.2734345 83.5507812,25.8671875 C82.80859,26.4609405 81.7760483,26.7578125 80.453125,26.7578125 C79.2343689,26.7578125 78.1562547,26.5286481 77.21875,26.0703125 L77.21875,23.8203125 C77.9895872,24.1640642 78.6419244,24.4062493 79.1757812,24.546875 C79.7096381,24.6875007 80.1979145,24.7578125 80.640625,24.7578125 C81.1718777,24.7578125 81.5794257,24.656251 81.8632812,24.453125 C82.1471368,24.249999 82.2890625,23.9479187 82.2890625,23.546875 C82.2890625,23.3229155 82.2265631,23.1236988 82.1015625,22.9492188 C81.9765619,22.7747387 81.79297,22.6067716 81.5507812,22.4453125 C81.3085925,22.2838534 80.8151079,22.0260434 80.0703125,21.671875 C79.3723923,21.3437484 78.8489601,21.0286473 78.5,20.7265625 C78.1510399,20.4244777 77.8723969,20.0729187 77.6640625,19.671875 C77.4557281,19.2708313 77.3515625,18.802086 77.3515625,18.265625 C77.3515625,17.2552033 77.694007,16.4609404 78.3789062,15.8828125 C79.0638055,15.3046846 80.0104106,15.015625 81.21875,15.015625 C81.812503,15.015625 82.3789036,15.0859368 82.9179688,15.2265625 C83.4570339,15.3671882 84.0208304,15.5651029 84.609375,15.8203125 L83.828125,17.703125 C83.218747,17.4531237 82.7148457,17.2786463 82.3164062,17.1796875 C81.9179668,17.0807287 81.5260436,17.03125 81.140625,17.03125 C80.6822894,17.03125 80.3307304,17.1380198 80.0859375,17.3515625 C79.8411446,17.5651052 79.71875,17.8437483 79.71875,18.1875 C79.71875,18.4010427 79.7682287,18.5872388 79.8671875,18.7460938 C79.9661463,18.9049487 80.1236968,19.058593 80.3398438,19.2070312 C80.5559907,19.3554695 81.0677043,19.6223939 81.875,20.0078125 C82.9427137,20.5182317 83.6744772,21.0299454 84.0703125,21.5429688 C84.4661478,22.0559921 84.6640625,22.6848921 84.6640625,23.4296875 Z M90.890625,26.6015625 L90.890625,15.1796875 L93.3125,15.1796875 L93.3125,26.6015625 L90.890625,26.6015625 Z M102.929688,23.4296875 C102.929688,24.4609427 102.558597,25.2734345 101.816406,25.8671875 C101.074215,26.4609405 100.041673,26.7578125 98.71875,26.7578125 C97.4999939,26.7578125 96.4218797,26.5286481 95.484375,26.0703125 L95.484375,23.8203125 C96.2552122,24.1640642 96.9075494,24.4062493 97.4414062,24.546875 C97.9752631,24.6875007 98.4635395,24.7578125 98.90625,24.7578125 C99.4375027,24.7578125 99.8450507,24.656251 100.128906,24.453125 C100.412762,24.249999 100.554688,23.9479187 100.554688,23.546875 C100.554688,23.3229155 100.492188,23.1236988 100.367188,22.9492188 C100.242187,22.7747387 100.058595,22.6067716 99.8164062,22.4453125 C99.5742175,22.2838534 99.0807329,22.0260434 98.3359375,21.671875 C97.6380173,21.3437484 97.1145851,21.0286473 96.765625,20.7265625 C96.4166649,20.4244777 96.1380219,20.0729187 95.9296875,19.671875 C95.7213531,19.2708313 95.6171875,18.802086 95.6171875,18.265625 C95.6171875,17.2552033 95.959632,16.4609404 96.6445312,15.8828125 C97.3294305,15.3046846 98.2760356,15.015625 99.484375,15.015625 C100.078128,15.015625 100.644529,15.0859368 101.183594,15.2265625 C101.722659,15.3671882 102.286455,15.5651029 102.875,15.8203125 L102.09375,17.703125 C101.484372,17.4531237 100.980471,17.2786463 100.582031,17.1796875 C100.183592,17.0807287 99.7916686,17.03125 99.40625,17.03125 C98.9479144,17.03125 98.5963554,17.1380198 98.3515625,17.3515625 C98.1067696,17.5651052 97.984375,17.8437483 97.984375,18.1875 C97.984375,18.4010427 98.0338537,18.5872388 98.1328125,18.7460938 C98.2317713,18.9049487 98.3893218,19.058593 98.6054688,19.2070312 C98.8216157,19.3554695 99.3333293,19.6223939 100.140625,20.0078125 C101.208339,20.5182317 101.940102,21.0299454 102.335938,21.5429688 C102.731773,22.0559921 102.929688,22.6848921 102.929688,23.4296875 Z M113.5625,26.6015625 L111.140625,26.6015625 L111.140625,17.1953125 L108.039062,17.1953125 L108.039062,15.1796875 L116.664062,15.1796875 L116.664062,17.1953125 L113.5625,17.1953125 L113.5625,26.6015625 Z M127.78125,26.6015625 L125.367188,26.6015625 L125.367188,21.671875 L120.84375,21.671875 L120.84375,26.6015625 L118.421875,26.6015625 L118.421875,15.1796875 L120.84375,15.1796875 L120.84375,19.65625 L125.367188,19.65625 L125.367188,15.1796875 L127.78125,15.1796875 L127.78125,26.6015625 Z M137.242188,26.6015625 L130.664062,26.6015625 L130.664062,15.1796875 L137.242188,15.1796875 L137.242188,17.1640625 L133.085938,17.1640625 L133.085938,19.671875 L136.953125,19.671875 L136.953125,21.65625 L133.085938,21.65625 L133.085938,24.6015625 L137.242188,24.6015625 L137.242188,26.6015625 Z M143.78125,26.6015625 L143.78125,15.1796875 L146.203125,15.1796875 L146.203125,24.6015625 L150.835938,24.6015625 L150.835938,26.6015625 L143.78125,26.6015625 Z M162.867188,20.875 C162.867188,22.7656345 162.398442,24.2187449 161.460938,25.234375 C160.523433,26.2500051 159.179696,26.7578125 157.429688,26.7578125 C155.679679,26.7578125 154.335942,26.2500051 153.398438,25.234375 C152.460933,24.2187449 151.992188,22.7604262 151.992188,20.859375 C151.992188,18.9583238 152.462235,17.5065154 153.402344,16.5039062 C154.342453,15.5012971 155.690095,15 157.445312,15 C159.20053,15 160.542964,15.5052033 161.472656,16.515625 C162.402348,17.5260467 162.867188,18.9791572 162.867188,20.875 Z M154.53125,20.875 C154.53125,22.151048 154.773435,23.1119759 155.257812,23.7578125 C155.74219,24.4036491 156.466141,24.7265625 157.429688,24.7265625 C159.361989,24.7265625 160.328125,23.4427212 160.328125,20.875 C160.328125,18.3020705 159.367197,17.015625 157.445312,17.015625 C156.481766,17.015625 155.755211,17.3398405 155.265625,17.9882812 C154.776039,18.636722 154.53125,19.598952 154.53125,20.875 Z M169.570312,20.1875 L174.101562,20.1875 L174.101562,26.109375 C173.367184,26.3489595 172.675784,26.5169266 172.027344,26.6132812 C171.378903,26.7096359 170.716149,26.7578125 170.039062,26.7578125 C168.315096,26.7578125 166.998702,26.2513071 166.089844,25.2382812 C165.180985,24.2252554 164.726562,22.7708428 164.726562,20.875 C164.726562,19.0312408 165.253901,17.5937552 166.308594,16.5625 C167.363287,15.5312448 168.825511,15.015625 170.695312,15.015625 C171.867193,15.015625 172.99739,15.2499977 174.085938,15.71875 L173.28125,17.65625 C172.447913,17.2395813 171.580734,17.03125 170.679688,17.03125 C169.632807,17.03125 168.794274,17.382809 168.164062,18.0859375 C167.533851,18.789066 167.21875,19.7343691 167.21875,20.921875 C167.21875,22.1614645 167.472654,23.1080696 167.980469,23.7617188 C168.488284,24.4153679 169.226558,24.7421875 170.195312,24.7421875 C170.700523,24.7421875 171.213539,24.6901047 171.734375,24.5859375 L171.734375,22.203125 L169.570312,22.203125 L169.570312,20.1875 Z M187.1875,20.875 C187.1875,22.7656345 186.718755,24.2187449 185.78125,25.234375 C184.843745,26.2500051 183.500009,26.7578125 181.75,26.7578125 C179.999991,26.7578125 178.656255,26.2500051 177.71875,25.234375 C176.781245,24.2187449 176.3125,22.7604262 176.3125,20.859375 C176.3125,18.9583238 176.782547,17.5065154 177.722656,16.5039062 C178.662765,15.5012971 180.010408,15 181.765625,15 C183.520842,15 184.863277,15.5052033 185.792969,16.515625 C186.722661,17.5260467 187.1875,18.9791572 187.1875,20.875 Z M178.851562,20.875 C178.851562,22.151048 179.093748,23.1119759 179.578125,23.7578125 C180.062502,24.4036491 180.786454,24.7265625 181.75,24.7265625 C183.682301,24.7265625 184.648438,23.4427212 184.648438,20.875 C184.648438,18.3020705 183.68751,17.015625 181.765625,17.015625 C180.802079,17.015625 180.075523,17.3398405 179.585938,17.9882812 C179.096352,18.636722 178.851562,19.598952 178.851562,20.875 Z" class="logo-text" fill="#fff" fill-rule="nonzero"></path>
                    </g>
                </svg>
            </a>
        </div>
        <div class="footer-copy">Ibuildings © 2019</div>
    </div>
    <div class="footer__info col-12 col-md-3">
        <p>Via Durini n.24<br>
            20122 Milano, MI<br>
            Tel: +39 02 00681 028<br>
            H24: +39 02 00681 029<br>
            Email: <a href="mailto:info@ibuildings.app">info@ibuildings.app</a></p>
    </div>
    <div class="footer__menu col-12 col-md-3">
        {{ drupal_block('system_menu_block:main') }}
    </div>
    <div class="footer__legal col-12 col-md-3">
        {{ drupal_block('system_menu_block:legal') }}
        <div class="credits">Designed by: <a href="https://www.ibuildings.app">Ibuildings</a></div>
    </div>
</div>
