/***** Fixed Branding Top *****/

.not-logged-in .section_header{
  margin-top: 90px;
}

.section_branding .row{
  height: 90px;
  @include transitions;
}

.logo-text{
  @include transitions;
}

.logo{
  max-width: 180px;
  @include transitions;
}

.not-logged-in .section_branding{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 11;
  background: white;
  @include transitions;
    &.is-scrolling{
      background: rgba(white,0.7);
        .row{
          height: 70px;
        }
    }
}