/***** Buttons *****/

.button{
  display: inline-block;
  padding: 0.75em 2.5em;
  font-weight: 700;
  text-transform: uppercase;
    &_primary{
      background: $primary;
      color: white;
        &:hover{
          background: darken( $primary, 10% );
        }
    }
    &_secondary{
      background: $secondary;
      color: white;
      &:hover{
        background: darken( $secondary, 10% );
      }
    }
    &_outline-primary{
      color: $primary;
      border: 2px solid $primary;
        &:hover{
          background: $primary;
          color: white;
        }
    }
    &_outline-secondary{
      color: $secondary;
      border: 2px solid $secondary;
      &:hover{
        background: $secondary;
        color: white;
      }
    }
}