/****** Footer *******/

.section_footer{
  background: $grigio-scuro;
  color: lighten($grigio-medio,30%);
}

.footer{
  line-height: 2em;
  ul{
    padding: 0;
    margin: 0;
      li{
        list-style: none;
      }
  }
  p{
    margin: 0;
  }
  a{
    color: white;
      &:hover{
        color: $primary;
      }
  }
  & > div{
    min-height: 150px;
    @include flexbox(space-between, space-between, column);
  }
}