/***** Main Menu *****/

#superfish-main{
  float: right;
    .sf-depth-1{
      margin-left: 2em;
        & > a{
          padding: 0;
          font-weight: 600;
          color: $grigio-scuro;
          @include underLink;
            &:hover{
              color: $primary;
            }
        }
        ul{
          background: #fff;
        }
    }
}

#superfish-main-toggle{
  height: 24px;
  width: 32px;
  display: block;
  position: relative;
  float: right;
  @include flexbox(center,center);
  z-index: 50;
    span{
      display: block;
      width: 100%;
      height: 3px;
      background: $grigio-scuro;
      overflow: hidden;
      text-indent: -9999px;
      @include transitions;
    }
    &:after,&:before{
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background: $grigio-scuro;
      position: absolute;
      left: 0;
      @include transitions;
    }
    &:before{
      top: 0;
    }
    &:after{
      bottom: 0;
    }
    &.sf-expanded{
      span{
        transform: scaleX(0);
      }
      &:before{
        transform: rotate(135deg);
        top: 50%;
        margin-top: -1.5px;
      }
      &:after{
        transform: rotate(-135deg);
        bottom: 50%;
        margin-bottom: -1.5px;
      }
    }
}

#superfish-main-accordion{
  position: fixed !important;
  z-index: 49;
  left: 0 !important;
  top: 0 !important;
  background: white !important;
  width: 100% !important;
  height: 100vh !important;
  clip: auto;
  @include flexbox(flex-start,center,column);
  @include transitions;
  @include hide;
    &.sf-expanded{
      @include show;
    }
    a{
      font-size: 3em;
      padding: 30px;
    }
}