/******** Header slideshow *******/


.header-slide{
  position: relative;
    &__img{
      background: #000;
        img{
          opacity: 0.75;
        }
    }
    &__content{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      z-index: 2;
      text-align: center;
      width: 80%;
      h2{
        font-size: 3em;
        color: white;
        margin-bottom: 0.25em;
        @media($xs) {
          font-size: 2em;
        }
      }
    }
    &__text{
      font-size: 1.25em;
      color: white;
      max-width: 750px;
      margin: auto;
        @media($xs) {
          font-size: 1em;
        }
    }
}