/***** Tabs *****/

.tabs{
  margin: 0;
  ul{
    margin:0;
    padding:0;
    border-bottom:1px solid $grigio-chiaro;
    font-size:0.9em;
  }
  li{
    display:inline-block;
    margin:0 5px;
    border-top:1px solid $grigio-chiaro;
    border-left:1px solid $grigio-chiaro;
    border-right:1px solid $grigio-chiaro;
  }
  a{
    display:block;
    padding:5px 10px;
    background:$grigio-chiaro;
    color:$primary;
      &.is-active{
        background:#fff;
        border-bottom:1px solid $grigio-chiaro;
        margin-bottom:-1px;
      }
  }
}
