/*****  Layout Sections settings ******/

.section{
  position: relative;
  overflow-x: hidden;
}

.section_preface{
  padding: 1em 0;
}

.section_main{
  padding: 4em 0 0;
  min-height:60vh; //PROVVISORIO
}

.section_footer{
  padding: 2em 0;
}
